button {
    padding: 8px 16px;
    border-radius: 20px;
    background: #FEAA0A;
    font-weight: bold;
    color: #fff;
    border: 2px #2D2D2D solid;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.card button {
    border: 2px #1B1B1B solid;
}

.headerTitle button {
    border: 2px #1B1B1B solid;
}

button:hover {
    border: 2px #FEAA0A solid;
    background: #2D2D2D;
    color: #fff;
    border-radius: 15px;
}
