/* Section - Title - Footer - Body & Font */
* {
    font-family: "Roboto c", sans-serif;
    font-size: 12px;
    font-style: normal;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    max-width: 100vw;
    text-align: center;
}

html {
    scroll-behavior: smooth
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #2D2D2D;

    /*justify-content: space-between;*/

    min-height: 100vh;
}

a, article, aside, div, footer, hr, section, svg, p {
    color: #fff;
    font-weight: normal;
    transition: all 0.3s ease-in-out;
}

h1, h2, h3, header, section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.15em;
}

section {
    padding: 0 10px;
    margin: 2em 0;
}

#retourUtilisateurContainer {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    margin-top: 6vh;
    transition: all 3s ease-in-out;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
}

#retourUtilisateur {
    text-align: center;
    margin: 1vh;
    background-color: #111111;
    padding: 1vh 5vh;
    border-radius: 15px;
    animation-name: transitionSlide;
    animation-duration: 3s;
    animation-direction: normal;
    opacity: 0;
    z-index: 100;
}

@keyframes transitionSlide {
    from {
        opacity: 1;
        z-index: 3;
        transform: translateX(20vw);
    }
    30% {
        transform: translateX(-4.5vw);
    }
    50% {
        transform: translateX(0vw);
    }
    60% {
        opacity: 1;
        z-index: 3;
    }
    to {
        opacity: 0;
        z-index: -1;
    }

}

#backgroundTutorat {
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 100vh;
}

#backgroundTutorat img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.headerTitle {
    justify-content: flex-start;
    flex-flow: row nowrap;
    width: 100%;
    background: #1B1B1B;
    padding: 0;
    margin: 6vh 0 0 0;
}

.headerTitle h2 {
    margin: 1em;
}

footer {
    width: 100%;
    background: #111111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row nowrap;
    padding: 1em 0;
}

@media (min-width: 1200px) {
    * {
        font-size: 14px;
    }
}

@media (min-width: 1920px) {
    * {
        font-size: 16px;
    }
}
