button{
    padding:8px 16px;
    border-radius:20px;
    background:#FEAA0A;
    font-weight: bold;
    color:#fff;
    border: 2px #fff solid;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.card button{
    border: 2px #cacaca solid;
}

.headerTitle button{
    border: 2px #cacaca solid;
}

.card button:hover{
    background: #cacaca;
    color: #404040;
}

.headerTitle button:hover{
    background: #cacaca;
    color: #404040;
}


button:hover{
    border: 2px #FEAA0A solid;
    background: #fff;
    color: #FEAA0A ;
    border-radius: 15px;
}
