.card{
    position: relative;
}
.card .classeUpLeft{
    position: absolute;
    left:3%;
    top:3%;
}
.card .dateUpRight{
    position: absolute;
    right:3%;
    top:3%;
}
.card .wifiDownRight{
    position: absolute;
    bottom:3%;
    right:3%;
}
