button{
    padding:8px;
    border-radius:10px;
    background:#07946A;
    font:bold 13px Arial;
    color:#fff;
    box-shadow: -1px 1px 4px #111111;
    border: 2px #2D2D2D solid;
    transition: all 0.3s ease-in-out;
}
.card button{
    border: 2px #606060 solid;
}
button:hover{
    border: 2px white solid;
    background: #2D2D2D;
    color: #fff ;
    border-radius: 0;
}
