.experienceContainer {
    padding: .5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.whiteBack {
    width: 300px;
    height: 20px;
    background: #fff;
    border-radius: .3em
}
.whiteBack div {
    height: 20px;
    background: #044F39;
    border-radius: .3em 0 0 .3em
}
#experienceColor {
    width: 200px
}
.specialiteContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}
.specialite{
    width: 40%;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    border-radius: 20px;
    margin: 1em;
    padding: 0.5em;
}
@media (min-width: 1200px) {
    .exp {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
    .whiteBack div {
        height: 20px;
        background: #044F39;
        border-radius: .3em 0 0 .3em;
        width: 0 !important;
        transition: width 1s ease-in-out
    }

    #profilSection:hover #experienceColor {
        width: 200px !important;
        transition: width 1s ease-in-out
    }
    .specialite{
        width: 25%;
        justify-content: center;
        align-items: center;
    }
}
